<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="icon" href="img/logo.png">
    <title>Connect Volunteers</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <!--[if lt IE 9]>
		<script src="/assets/js/html5shiv.min.js"></script>
		<script src="/assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>

  
    <div class="main-wrapper">
        <div class="header">
	
				 <h1>Donate Product Details</h1>
			</div>
         <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <h4 class="page-title">Register Donate Product Details</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <form method="POST">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Product Name</label>
                                        <input class="form-control" type="text" name="name">
                                    </div>
                                </div>
                           
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group ">
                                        
                                        <label> Product Courier Date</label>
                                        <div class="cal-icon">
                                        <input class="form-control  datetimepicker" type="text" name="p_date">
                                    </div>
                                    </div>
                                </div>
                                
                            </div>
                            
                            <div class="row">
                               
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Courier Service Name</label>
                                        <input class="form-control" type="text" name="expire">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label> Product Expire date</label>
                                        <div class="cal-icon">
                                        <input class="form-control datetimepicker" type="text" name="e_date"> </div>
                                    </div>
                                </div>
                               
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Courier Number</label>
                                        <input class="form-control" type="text" placeholder="" name="price">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Quantity</label>
                                        <input class="form-control" type="text" placeholder="" name="quantity">
                                    </div>
                                </div>
                                
                               
                               
                            </div>
                            <div class="m-t-20 text-center">
                                <button onclick="myFunction()" class="btn btn-primary submit-btn">Submit Details</button>
                            </div>

                            <script>
                                function myFunction() {
                                  alert("Details Saved Sucessfully");
                                }
                                </script>

                        </form>
                    </div>
                </div>
            </div>
			
        
        </div>
    </div>
    <div class="sidebar-overlay" data-reff=""></div>
     <script src="/assets/js/jquery-3.2.1.min.js"></script>
	<script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.slimscroll.js"></script>
    <script src="/assets/js/select2.min.js"></script>
	<script src="/assets/js/moment.min.js"></script>
	<script src="/assets/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/assets/js/app.js"></script>
</body>


<!-- add-asset24:09-->
</html>
