<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="img/logo.png">
    <title>Connect Volunteers</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link rel="stylesheet" href="css/style.css">
    <!--[if lt IE 9]>
		<script src="/assets/js/html5shiv.min.js"></script>
		<script src="/assets/js/respond.min.js"></script>
	<![endif]-->
</head>
<body>

    
    <header class="main_menu home_menu">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <a class="navbar-brand" href="index.html"> <img src="img/logo.png" alt="logo"> </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse main-menu-item justify-content-center"
                            id="navbarSupportedContent">
                            <ul class="navbar-nav align-items-center">
                                <li class="nav-item active">
                                    <a class="nav-link" href="/">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">About</a>
                                </li>
                                

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="blog.html" id="navbarDropdown"
                                        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Pages
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="#">services</a>
                                    </div>
                                </li>
                                
                                <li class="nav-item">
                                    <a class="nav-link" href="/appointmentt">Register Complaint</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="/employeee">Volunteer Register</a>
                                </li>

                              <li class="nav-item">
                                <a class="nav-link" href="/">Administrator</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/storee">Donate</a>
                            </li>
                        </div>
                        <!--<a class="btn_2 d-none d-lg-block" href="#">HOT LINE- 09856</a>-->
                    </nav>
                </div>
            </div>
        </div>
    </header>
        
    <div class="page-wrapper">
        <div class="content">
            <div class="row">
                <div class="col-sm-4 col-3">
                    <h4>Register Complaints for Service</h4>
                </div>
                
            </div>

            <marquee attribute_name = "attribute_value"....more attributes>
                <div>
                    <h2>Here You can Complain for Your self or for Other Persons who need the Volunteer Service</h2>
                </div>
             </marquee>
             <br><br><br><br>
             <center><div>
                <a href="/appointmentt/add_appointmentt" class="btn btn btn-primary btn-rounded"><i class=""></i> Register Complaint</a>
             </div>
        </center><br>

        

        <div>
            <div class="left">
                <img src="img/banner_img.png" alt="">
            </div>
            <div class="right">
                <p><h3>The Persons can complain they can register here we can take action for your complain you can register what you need
                    and your present situation of your need like First Aid, Medical Services and Food etc</h3>
                    
                </p>
              </div>
        </div>


				
           
			
            </form>
			</div>
		</div>
    </div>
    <div class="sidebar-overlay" data-reff=""></div>
    <script src="assets/js/jquery-3.2.1.min.js"></script>
	<script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.slimscroll.js"></script>
    <script src="assets/js/select2.min.js"></script>
    <script src="assets/js/app.js"></script>
	<script>
            $(function () {
                $('#datetimepicker3').datetimepicker({
                    format: 'LT'
                });
				$('#datetimepicker4').datetimepicker({
                    format: 'LT'
                });
            });
     </script>
</body>


<!-- appointments23:20-->
</html>